body{
    background-image: url(train.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    color: rgb(216, 205, 188);
    text-shadow: 2px 2px 9px rgb(19, 18, 18);
    
}
h2{
    font-size: 50px;
}
button{
    background-color: rgb(163, 0, 0);
    color: rgb(255, 253, 240);
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}